@import 'base/normalize';
@import 'base/common';
@import 'base/shortcut';

@import 'layouts/flex';
@import 'element-ui';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  line-height: 1.4;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

html,
body,
#app {
  min-width: 1200px;
  height: 100%;

  background: url('~@/assets/background.png') center/cover;
  background-attachment: fixed;
}

.page {
  min-height: 100%;
}

.subpage {
  flex: 1;
}

.main-box {
  width: 1076px;
  margin: auto;
}

.text--primary {
  color: $colorPrimary;
}

.text--danger {
  color: $colorDanger;
}

.text--info {
  color: $colorInfo;
}
